.ip-input-container{
  display: block;
  font-size: 20px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 0px 0;
}
.ip-input-container .ip-input-item{
  border: none;
  outline: 0;
  margin: 0;
  width: 70px;
  height: 30px;
  text-align: center;
  vertical-align: bottom;
  font-size: 18px;
}
.ip-input-container .ip-input-dot{
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-bottom: 5px;
  background-color: #333;
  border-radius: 50%;
  vertical-align: bottom;
}

#ip{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}